@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer-container {
  background-color: #19232d;
  height: 150vh;
  padding-top: 30px;
  color: #5a7184;
  font-family: "Roboto";
}

.footer-main-logo {
  height: 80px;
}

.footer-top-container {
  padding: 50px;
  margin-bottom: 10px;
}

.footer-top-para {
  font-size: 23px;
}

.footer-icon-background {
  background-color: #202b36;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 35px;
  text-align: center;
  margin: 20px 5px;
}

.footer-bottom-heading {
  font-weight: 600;
  font-size: 30px;
  margin: 20px;
}

.footer-bottom-icon {
  font-size: 35px;
  margin: 15px 20px;
}

.footer-second-container {
  color: #5a7184;
}

.footer-bottom-para {
  font-size: 23px;
  padding-top: 10px;
}

.footer-last-heading {
  font-weight: 600;
  font-size: 30px;
  margin: 20px 0px;
}

.footer-last-para {
  font-size: 23px;
}

.footer-bottom-line {
  height: 2px;
  background-color: #5a7184;
}

.footer-end-para {
  font-size: 23px;
  color: #959ead;
  margin-top: 10px;
}
