@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.features-container {
  font-family: "Roboto";
}

.features-main-heading {
  font-size: 30px;
  font-weight: bold;
  color: #1f2933;
}

.features-card-container {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 30px;
}

.features-card-item {
  text-align: center;
}

.features-card-image {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.features-card-heading {
  font-size: 22px;
}

.features-card-description {
  color: #7b8794;
}

.features-italic-one {
  font-style: italic;
  font-weight: bold;
  color: black;
}
